
.loginscreen
{
    margin-top: 60px;
    padding: 20px;
    border: #f5f5f5 solid ;
    // background-color: #FEFDFD;
}
.h3{
color:#7D3C98;
}

.btn-login{
background-color: #c72c66;
color: #ffffff;
}