<div class="container">
  <div class="row" >
    <div class="col-md-6 col-sm-12 col-lg-6" style="text-align: center;">
      <h1 class="display-4" style="text-align:center;">GET IN TOUCH</h1>
      <p class="load ">We’re here to help you in any way possible</p>
    AutomationEdge Technologies Inc<br>
    10101 Southwest Freeway,<br>
    Suite 400, Houston, TX 77074, USA.<br>
    Email: info@automationedge.com<br>
    Phone: +1-281-220-1057
    </div>

    <div class="col-md-6 col-sm-12 col-lg-6" style="padding-top:30px; padding-bottom: 30px; ">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7539.701153838942!2d72.861959!3d19.11421!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c83a0b5aaceb%3A0x76df30fcaacbaa20!2sCourtyard%20by%20Marriott%20Mumbai%20International%20Airport!5e0!3m2!1sen!2sin!4v1574342093701!5m2!1sen!2sin"
        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    
   </div> 
</div>

